a1-tejeshwardevorg/force-app/main/default/flows/Flow_Chart_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assigning_Updated_Records</name>
        <label>Assigning Updated Records</label>
        <locationX>528</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThrough</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WarmAssignment</name>
        <label>WarmAssignment</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllRecords.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!LoopThrough.Rating}+&apos; Added &apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThrough.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Updated_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WarmAssignment_0</name>
        <label>WarmAssignment</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllRecords.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!LoopThrough.Rating}+&apos; Added &apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThrough.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Updated_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WarmAssignment_0_0</name>
        <label>WarmAssignment</label>
        <locationX>792</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllRecords.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!LoopThrough.Rating}+&apos; Added &apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThrough.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Updated_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRating</name>
        <label>CheckRating</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>WarmAssignment_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cold</defaultConnectorLabel>
        <rules>
            <name>Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThrough.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarmAssignment</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
        <rules>
            <name>Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThrough.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarmAssignment_0</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Chart 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Chart 2</label>
    <loops>
        <name>LoopThrough</name>
        <label>LoopThrough</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>FetchAccountsRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckRating</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FetchAccountsRecords</name>
        <label>FetchAccountsRecords</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThrough</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>UpdatedRecordList</inputReference>
    </recordUpdates>
    <screens>
        <name>Flow_2</name>
        <label>Flow 2</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FetchAccountsRecords</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_2</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdatedRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
